<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- dependent beans cfg -->
	<bean id="dt" class="com.nt.comp.DTDC" />
	<bean id="bd" class="com.nt.comp.BlueDart" />
	<bean id="fx" class="com.nt.comp.FedEx" />

	<!-- target bean cfg -->
	<bean id="fk" class="com.nt.comp.Flipkart" />
	
	<context:annotation-config />

</beans>
